@import '../../styles/global';

.dropdown-group {
  position: relative;
  width: 100%;

  /* 버튼 스타일 */
  .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    transition: border-color 0.3s ease;
    color: #333;

    &.open {
      .dropdown-icon{
        transform: rotate(180deg);
      }
    }
    //&:focus {
    //  border-color: ;
    //  outline: ;
    //}

    .dropdown-icon {
      margin-left: 0.5rem;
      font-size: $font-size-h4;
      color: #888;
      transition: transform 0.3s ease;

    }
  }

  /* 드롭다운 메뉴 스타일 */
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow: hidden;
    transition: all 0.3s ease;

  }

  /* 드롭다운 옵션 스타일 */
  .dropdown-option {
    padding: 0.5rem 1rem;
    cursor: pointer;
    overflow: hidden;
    margin-top: 1rem;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      background-color: #f0f0f0;
    }

    &.selected {
      font-weight: bold;
      background-color: #e6f7ff;
    }
  }
}
