@import "../../styles/global.scss";

.radio-group{
  p{
    margin-bottom: .5rem;
    font-size: $font-size-body;
    font-weight: 700;
  }
  .radio-btn-wrap{
    display: flex;
    align-items: center;
    gap: 1rem;

    label{
      font-weight: normal!important;

      input{
        margin-right: 4px;
      }
    }
  };
}