@import "../../styles/global.scss";

button{
    width: 100%;
    padding: .5rem 1rem;
    color: #fff;
    font-size: $font-size-body;
    border-radius: 4px;
    background-color: #333;
    cursor: pointer;

    &.disable-btn{
        background-color: $color-disabled-btn;
        cursor: initial;
    }
    &.text-btn{
        width: initial;
        padding: 0;
        background-color: transparent;
        color: #333;
        font-size: $font-size-caption;
        text-decoration: underline;
        cursor: pointer;
    }
}
